# Dependencies
node_modules/

# Build files
/.next/
/out/

# Log files
logs/
*.log

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled files
*.tsbuildinfo
*.js
*.d.ts

# IDE files
.idea/
.vscode/
*.iml

# Other
.DS_Store
